<div>
    
    <!-- <button #redB class="boton red" (mousedown)="playTone(261.63)" (mouseup)="stopTone()" (mouseleave)="stopTone()"  ></button>
    <button class="boton blue" (mousedown)="playTone(329.63)" (mouseup)="stopTone()" (mouseleave)="stopTone()" ></button>
    <button class="boton green" (mousedown)="playTone(392.00)" (mouseup)="stopTone()" (mouseleave)="stopTone()" ></button>
    <button class="boton yellow" (mousedown)="playTone(523.25)" (mouseup)="stopTone()" (mouseleave)="stopTone()" ></button> -->

    <button [disabled]="buttonsDisabled" [class.sound-on] = 'redButtonPlaying' class="button red" (click)="onClick('red')"></button>
    <button [disabled]="buttonsDisabled" [class.sound-on] = 'blueButtonPlaying' class="button blue" (click)="onClick('blue')" ></button>
    <button [disabled]="buttonsDisabled" [class.sound-on] = 'greenButtonPlaying' class="button green" (click)="onClick('green')" ></button>
    <button [disabled]="buttonsDisabled" [class.sound-on] = 'yellowButtonPlaying' class="button yellow" (click)="onClick('yellow')" ></button>

    <p>TURNO: {{this.game.turn}}</p>
    <button *ngIf="this.game.turn != 0" (click)="this.game.newGame()">RESET</button>
    <button *ngIf="this.game.turn === 0" (click)="this.startGame()">START</button>

    <h1>
        <button (click)="test()"> desactivar botones (test) </button>
        <button (click)="test2()"> tocar boton rojo (test) </button>
    </h1>
    
    

    

</div>