$my-red: rgb(250, 0, 40);
$my-blue: rgb(0, 180, 230);
$my-green: rgb(0, 204, 0);
$my-yellow: rgb(210, 210, 0);


.button{
    width: 200px;
    height: 200px;
    border-radius: 10%;
    margin: 16px;
    transition: transform 0.2s ease;
    cursor: pointer;

    border: none !important;
    box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.25) !important;
    
    /*Red Button*/
    &.red{
        background-color: $my-red;

        &:not(:disabled):active {
            box-shadow: inset 0px 0px 4px 4px rgba(0, 0, 0, 0.5) !important;
            transform: scale(0.95)
        }

        &:disabled{
            background-color: rgba($my-red, 0.2);
            cursor: default;
        }

        &.sound-on{
            transform: scale(0.95);
            box-shadow: 
                0px  0px 28px 6px $my-red,
                inset 0px 0px 4px 4px rgba(0, 0, 0, 0.5) !important;
            background-color: lighten($color: $my-red, $amount: 8);
        }
    }

    /*Blue Button*/
    &.blue{
        background-color: $my-blue;

        &:not(:disabled):active {
            box-shadow: inset 0px 0px 4px 4px rgba(0, 0, 0, 0.5) !important;
            transform: scale(0.95)
        }

        &:disabled{
            background-color: rgba($my-blue, 0.2);
            cursor: default;
        }

        &.sound-on{
            transform: scale(0.95);
            box-shadow: 
                0px 0px 28px 6px $my-blue,
                inset 0px 0px 4px 4px rgba(0, 0, 0, 0.5) !important;
            background-color: lighten($color: $my-blue, $amount: 8);
        }
    }

    /*Green Button*/
    &.green{
        background-color: $my-green;

        &:not(:disabled):active {
            box-shadow: inset 0px 0px 4px 4px rgba(0, 0, 0, 0.5) !important;
            transform: scale(0.95)
        }

        &:disabled{
            background-color: rgba($my-green, 0.2);
            cursor: default;
        }

        &.sound-on{
            transform: scale(0.95);
            box-shadow: 
                0px 0px 28px 6px $my-green,
                inset 0px 0px 4px 4px rgba(0, 0, 0, 0.5) !important;
            background-color: lighten($color: $my-green, $amount: 8);
        }
    }

    /*Yellow Button*/
    &.yellow{
        background-color: $my-yellow;

        &:not(:disabled):active {
            box-shadow: inset 0px 0px 4px 4px rgba(0, 0, 0, 0.5) !important;
            transform: scale(0.95)
        }

        &:disabled{
            background-color: rgba($my-yellow, 0.2);
            cursor: default;
        }

        &.sound-on{
            transform: scale(0.95);
            box-shadow: 
                0px 0px 28px 6px $my-yellow,
                inset 0px 0px 4px 4px rgba(0, 0, 0, 0.5) !important;
            background-color: lighten($color: $my-yellow, $amount: 8);
        }
    }

    
}

div{
    text-align: center;
}


