$my-red: RGB(250, 0, 40);
$my-blue: RGB(0, 180, 230);
$my-green: RGB(0, 204, 0);
$my-yellow: RGB(210, 210, 0);


.boton{
    width: 200px;
    height: 200px;
    border-radius: 10%;
    margin: 16px;
    transition: box-shadow 0.2s ease, transform 0.5s ease;
    cursor: pointer;
    

    &.red{
        background-color: $my-red;

        &:active{
            box-shadow: 0px 0px 12px 2px $my-red;
            box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.5) !important;
            transform: translateY(2px);
        }
    }

    &.blue{
        background-color: $my-blue;

        &:active{
            box-shadow: 0px 0px 12px 2px $my-blue;
            box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.5) !important;
            transform: translateY(2px);
        }
    }

    &.green{
        background-color: $my-green;

        &:active{
            box-shadow: 0px 0px 12px 2px $my-green;
            box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.5) !important;
            transform: translateY(2px);
        }
    }

    &.yellow{
        background-color: $my-yellow;

        &:active{
            box-shadow: 0px 0px 12px 2px $my-yellow;
            box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.5) !important;
            transform: translateY(2px);
        }
    }

    /*
    &.red{
        background-color: $my-red;

        &:hover{
            box-shadow: 0px 0px 12px 2px $my-red;
        }

    }

    &.blue{
        background-color: $my-blue;

        &:hover{
            box-shadow: 0px 0px 12px 2px $my-blue;
        }
    
    }

    &.green{
        background-color: $my-green;

        &:hover{
            box-shadow: 0px 0px 12px 2px $my-green;
        }
    
    }


    &.yellow{
        background-color: $my-yellow;

        &:hover{
            box-shadow: 0px 0px 12px 2px $my-yellow;
        }
    }

    &:active{
        box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.5) !important;
        transform: translateY(2px);
    }*/

    ////////////////////////
    
}

div{
    text-align: center;
}


